{% load thumbnail %}
<div class='card'>
  <div class='card-body'>
    {% if thread.subject %}
      <b>{{ thread.subject }}</b>
      <br/>
    {% endif %}
    <b>{% firstof post.name 'Anonymous' %}</b> {{ post.time }} No.{{ post.id }}
    <br/>
    <div>
      {% if post.image %}
        {% thumbnail post.image "128x128" as im %}
          <a href="{{ post.image.url }}" target="_blank" rel="noopener noreferrer">
            <img src="{{ im.url }}" style="margin-right: 8px" align="left"/>
          </a>
        {% endthumbnail %}
      {% endif %}
      <p>{{ post.comment }}</p>
    </div>
    <BR clear="left">
    <hr>
    <a href="{{ thread.get_absolute_url }}">{{ thread.post_set.all|length|add:"-1" }} repl{{ thread.post_set.all|length|add:"-1"|pluralize:"y,ies" }}</a>
  </div>
</div>

