{% extends "base_generic.html" %}

{% block content %}
  {% if thread %}
    <h1>Detail</h1>
    {% for post in thread.post_set.all %}
      <div class='card'>
        <div class='card-body'>
          {% if forloop.counter == 1 and thread.subject %} 
            <b>{{ thread.subject }}</b>
            <br/>
          {% endif %}
          <b>{% firstof post.name 'Anonymous' %}</b> {{ post.time }} No.{{ post.id }}
          <br/>
          {{ post.comment }}
        </div>
      </div>
    {% endfor %}
      <div class='card'>
        <div class='card-body'>
          <a href="{% url 'reply' thread.id %}" onclick="toggle_reply()">Reply</a>
        </div>
      </div>
  {% else %}
    <p>There are no threads.</p>
  {% endif %}
{% endblock %}

