{% extends "base_generic.html" %}

{% block content %}
  {% if thread %}
    <h1></h1>
    <!-- <h1>Thread {{thread.id}}</h1> -->
    {% for post in thread.post_set.all %}
      {% include 'board/card.html' with thread=thread post=post %}
    {% endfor %}
      <div class='card'>
        <div class='card-body'>
          <a href="{% url 'reply' thread.id %}" onclick="toggle_reply()">Reply</a>
        </div>
      </div>
  {% else %}
    <p>There are no threads.</p>
  {% endif %}
{% endblock %}

